<div class="mcprof">
    <div class="mcprof-header-bar">
        <div class="mcprof-close">Close</div>
        <div class="mcprof-title">myMcProf</div>
    </div>
    <div class="mcprof-ratings-container">
        <div class="mcprof-card">
            <div class="prof-info">
                <div class="prof-name"></div>
                <div class="prof-title"></div>
            </div>
            <div class="mcprof-error">
                <div class="mcprof-text"></div>
                <br>
                <div class="mcprof-input-search">
                    <input type="text" class="mcprof-search" placeholder="Search Again">
                </div>
                <div class="mcprof-hint"><sup>*</sup>Note that not every professor has been rated.</div>
            </div>
            <div class="mcprof-loading">
                <div class="mcprof-logo-container">
                    <div class="mcprof-logo"></div>
                </div>
            </div>
            <div class="mcprof-row">
                <div class="mcprof-col-50">
                    <div class="mcprof-rating">Overall Quality</div>
                    <div class="mcprof-score" id="mcprof-overall_quality"></div>
                </div>
                <div class="mcprof-col-50">
                    <div class="mcprof-rating">Average Grade</div>
                    <div class="mcprof-score" id="mcprof-avg-grade"></div>
                </div>
            </div>
            <div class="mcprof-row">
                <div class="mcprof-col-33">
                    <div class="mcprof-rating">Helpfulness</div>
                    <div class="mcprof-score" id="mcprof-helpf"></div>
                </div>
                <div class="mcprof-col-33">
                    <div class="mcprof-rating">Clarity</div>
                    <div class="mcprof-score" id="mcprof-clarity"></div>
                </div>
                <div class="mcprof-col-33">
                    <div class="mcprof-rating">Easiness</div>
                    <div class="mcprof-score" id="mcprof-easiness"></div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="mcprof-hint">
                <sup>*</sup>All ratings are out of a maximum of 5 points.
            </div>
        </div>
    </div>  
</div>