<div class="card">
    <div class="row">
        <div class="col-50">
            <div>Overall Quality</div>
            <div id="overall_quality"></div>
        </div>
        <div class="col-50">
            <div>Average Grade</div>
            <div id="avg-grade"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-33">
            <div>Clarity</div>
            <div id="clarity"></div>
        </div>
        <div class="col-33">
            <div>Helpfulness</div>
            <div id="helpf"></div>
        </div>
        <div class="col-33">
            <div>Easiness</div>
            <div id="easiness"></div>
        </div>
    </div>
</div>