<div class="card">
    <div id="loading">
        <div id="logo-container">
            <div id="logo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-50">
            <div class="rating">Overall Quality</div>
            <div class="score" id="overall_quality"></div>
        </div>
        <div class="col-50">
            <div class="rating">Average Grade</div>
            <div class="score" id="avg-grade"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-33">
            <div class="rating">Clarity</div>
            <div class="score" id="clarity"></div>
        </div>
        <div class="col-33">
            <div class="rating">Helpfulness</div>
            <div class="score" id="helpf"></div>
        </div>
        <div class="col-33">
            <div class="rating">Easiness</div>
            <div class="score" id="easiness"></div>
        </div>
    </div>
</div>